:root {
  --text-default: #0A0A0A;
  --text-light: #FEFEFE;
  --max-width-px: 920px;
}

@font-face {
    font-family: 'Linux Libertine';
    src: url('LinLibertine_R.otf');
}

body {
    margin: 0;
    background-color: #E1E1E1;
    font-family: 'Linux Libertine', "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: var(--text-default);
    overflow-x: hidden;
}

a:link { color: var(--text-light) }
a:visited { color: var(--text-light) }
a:hover { color: var(--text-light) }
a:active { color: var(--text-light) }

#logo {
    vertical-align:middle;
    max-height:96px;
    height:64pt;
}

#thumbs {
    display: flex;
}

.thumb {
    width: 192px;
    margin: 4px;
    flex: 50%;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 76pt 1fr 32pt;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100vw;
    min-height: 100vh;
    margin: 0 auto;
}

#header {
    grid-area: 1 / 1 / 1 / span 2;
    background-color: #2f2f2f;
    color: var(--text-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: calc(100vw / 2 - var(--max-width-px) / 2);
    padding-right: calc(100vw / 2 - var(--max-width-px) / 2);
}

#header a:link { color: var(--text-light) }
#header a:visited { color: var(--text-light) }
#header a:hover { color: var(--text-light) }
#header a:active { color: var(--text-light) }

#header_left {
    flex-grow: 1;
    padding-left: 25pt;
    font-size: xx-large;
}

#header_right {
    font-size: 12pt;
    padding-right: 25pt;
}

#footer {
    grid-area: 3 / 1 / 3 / span 2;
    font-size: small;
    background-color: #2f2f2f;
    color: var(--text-light);
    padding: 2pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: calc(100vw / 2 - var(--max-width-px) / 2);
    padding-right: calc(100vw / 2 - var(--max-width-px) / 2);
}

#footer_inner, #content_left_inner, #content_right_inner
{
    padding-left: 25px;
    padding-right: 25px;
}

#content_left {
    grid-area: 2 / 1;
    padding: 25px;
    background-color: #515151;
    color: var(--text-light);
    padding-left: calc(100vw / 2 - var(--max-width-px) / 2);
    border-style: solid;
    border-width: 2pt 0px 2pt 0px;
    border-color: #00B4FF #515151 #00B4FF #515151;
}

#content_right {
    grid-area: 2 / 2;
    padding: 25px;
    background-color: #515151;
    color: var(--text-light);
    padding-right: calc(100vw / 2 - var(--max-width-px) / 2);
    border-style: solid;
    border-width: 2pt 0px 2pt 0px;
    border-color: #00B4FF #515151 #00B4FF #515151;
}
